{{#each artists}}
    <h2>{{this.name}}</h2>
    <p>{{this.bio}}</p>

    {{#if this.images}}
   <img src="{{this.images.[0].url}}" alt="" width="300"/>
   {{/if}}
   <button><a href="/albums/{{this.id}}">View Albums</a></button>
{{/each}}