<div class="first-page">
    <form action="/artist-search" method="GET">

    <input class="search-box" type="text" placeholder="Choose an artist" name="artist"/>
    <br>
    <br>
    <button class="first-button" type="submit">Search for an Artist</button>
     
    </form>
</div>